* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 0.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 3px solid hsl(0deg, 0%, 50%);
}

.max-width-wrapper {
  padding: 32px 8px 24px;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
}

header .max-width-wrapper {
}

main {
  background-color: hsl(0deg, 0%, 70%);
}

main p {
  width: fit-content;
}

.intro-chunk,
.card {
  background-color: hsl(0deg, 0%, 100%);
  padding-left: 8px;
  padding-right: 8px;
}

.card {
  border-bottom: 3px solid hsl(0deg, 0%, 50%);
  padding-top: 8px;
}

.title {
  font-size: 1rem;
  padding-bottom: 16px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 8px 16px;
  border-bottom: 3px solid hsl(45deg, 100%, 40%);
  margin-left: -16px;
  margin-top: -4px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  margin: 8px 0;
}
